
@{
    ViewBag.Title = "Customers";
}

<h2>Here are some Customers</h2>

<ul>
    @foreach(var customer in ViewBag.CustomerList)
    {
        <li>
            @customer.CustomerID
        </li>
    }
</ul>

